<center> <h1 style = "color:blue;"> <b>Ao Dai </b> </h1> 
<hr>
<b> Now is <%= @time %>

<p> <%= image_tag("DSCF9443.JPG", height: 300) %>
<p>Anh chi em dua len heroku di
<p>
Them 1 hinh ao dai nua
<p> <%= image_tag("DSCF9163.JPG", height: 300) %>
<h2 style="color:red;"> Hinh anh chup cho em </h2>
<b> Khi nao em dep lai, anh dua em di chup hinh nua
<p> Anh chup cho em dep qua

<div> <%= image_tag("DSCF9443.JPG", height: 300) %></div>
<div>
<%= image_tag("DSCF9104.JPG", height: 300, style: "transform: rotate(90deg)") %>
</div>
</center>




